.col-1{
background:#8c0073;
}
.col-2{
background:#8c0073;}
.col-3{
background:#8c0073;}
.col-4{
background:#8c0073;}
.col-5{
background:#8c0073;}
.col-6{
background:#8c0073;}
.col-7{
background:#8c0073;}
.col-8{
background:#8c0073;}
.col-9{
background:#8c0073;}
.col-10{
background:#8c0073;}
.col-11{
background:#8c0073;}